In [3]:
import streamlit as st
import pandas as pd

In [32]:
data = pd.read_csv("Advertising.csv")

In [34]:
data.head(20)

    Unnamed: 0     TV  Radio  Newspaper  Sales
0            1  230.1   37.8       69.2   22.1
1            2   44.5   39.3       45.1   10.4
2            3   17.2   45.9       69.3    9.3
3            4  151.5   41.3       58.5   18.5
4            5  180.8   10.8       58.4   12.9
5            6    8.7   48.9       75.0    7.2
6            7   57.5   32.8       23.5   11.8
7            8  120.2   19.6       11.6   13.2
8            9    8.6    2.1        1.0    4.8
9           10  199.8    2.6       21.2   10.6
10          11   66.1    5.8       24.2    8.6
11          12  214.7   24.0        4.0   17.4
12          13   23.8   35.1       65.9    9.2
13          14   97.5    7.6        7.2    9.7
14          15  204.1   32.9       46.0   19.0
15          16  195.4   47.7       52.9   22.4
16          17   67.8   36.6      114.0   12.5
17          18  281.4   39.6       55.8   24.4
18          19   69.2   20.5       18.3   11.3
19          20  147.3   23.9       19.1   14.6

In [35]:
columns = ['TV','Radio','Newspaper']
target = 'Sales'

In [36]:
X = data[columns]
y = data[target]

In [37]:
X.head(2)

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1

In [38]:
X_dummies = pd.get_dummies(X)

In [39]:
X_dummies.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [40]:
X_final = X_dummies.head()

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [53]:
lr = LinearRegression()

In [54]:
lr.fit(X_train,y_train)

LinearRegression()

In [55]:
print(lr.score(X_test,y_test))

0.8867507448842467

In [56]:
import joblib

In [57]:
# saving model
filename = 'finalized_model.sav'
joblib.dump(lr,filename)

['finalized_model.sav']

In [58]:
# Loading the model
loaded_model = joblib.load(filename)

In [59]:
loaded_model.predict(X_test)

array([ 9.79011312, 13.90285612, 16.00462867,  7.49043087, 21.90593369,
        8.74117512,  9.97796726, 12.09918218, 10.42563607, 13.88292427,
       11.76793795, 17.21523232, 11.94974715, 16.34187112,  8.6114872 ,
       14.66770635,  9.89530003,  8.18779059, 11.84835684,  9.01432636,
       18.04066667, 20.97044143,  9.82221255, 11.87336563, 12.21285617,
       24.86629501, 23.92382725, 10.50318979, 14.84593803, 14.87711061,
       15.32354886,  8.02004314,  6.84074036, 18.41293452,  5.12025204,
       17.01914996, 20.34823277, 18.45128292, 20.6767332 ,  4.2955894 ])

In [60]:
X_train.head()

        TV  Radio  Newspaper
78     5.4   29.9        9.4
166   17.9   37.6       21.6
51   100.4    9.6        3.6
47   239.9   41.5       18.5
199  232.1    8.6        8.7

In [61]:
xTV = 100
xRadio = 40
xNewspaper = 30

In [63]:
loaded_model.predict([[xTV,xRadio,xNewspaper]])[0]

C:\Users\USER\anaconda3\envs\DariusExercise\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

14.90397684233725

In [1]:
!pip install pipreqs

Requirement already satisfied: pipreqs in c:\users\samae\.conda\envs\dariustrainingfinal\lib\site-packages (0.4.11)
Requirement already satisfied: docopt in c:\users\samae\.conda\envs\dariustrainingfinal\lib\site-packages (from pipreqs) (0.6.2)
Requirement already satisfied: yarg in c:\users\samae\.conda\envs\dariustrainingfinal\lib\site-packages (from pipreqs) (0.1.9)
Requirement already satisfied: requests in c:\users\samae\.conda\envs\dariustrainingfinal\lib\site-packages (from yarg->pipreqs) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\samae\.conda\envs\dariustrainingfinal\lib\site-packages (from requests->yarg->pipreqs) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\samae\.conda\envs\dariustrainingfinal\lib\site-packages (from requests->yarg->pipreqs) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\samae\.conda\envs\dariustrainingfinal\lib\site-packages (from requests->yarg->pipreqs) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\samae\.conda\envs\dariustrainingfinal\lib\site-packages (from requests->yarg->pipreqs) (2021.10.8)

In [4]:
!pipreqs

WARNING: requirements.txt already exists, use --force to overwrite it